html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: radial-gradient(114.48% 114.48% at 0% -14.48%, #ECFFF3 5.08%, #EEF7FF 56.53%, #FCF1FE 79.01%, #FFFFFF 95.67%);
    font-family: 'DM Sans', sans-serif;
}