.coffe-footer {
    display:flex;
    flex-wrap: wrap;
}

.coffe-footer ul {
    display:flex;
    flex-wrap: wrap;
}

.coffe-footer ul li {
    margin: 10px 20px;
    list-style: none;
    color: #00C39D;
}

.coffe-footer ul li:hover {
    transition: 150ms;
    font-weight: bold;
    cursor: pointer;
}
