.coffe-login {
    display:flex;
    justify-content:center;
    align-items: center;
}

.coffe-container {
    background-color: rgb(173, 173, 173);
}

.coffe-fb {
    background-color: rgb(120, 136, 228);
    height:50px;
    width: 200px;
}